.about {
    padding: 8rem 0;
}

.about__inner {}

.about__inner__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 104px;
    /* identical to box height */

    margin-bottom: 2.9rem;
    color: #1B1B1B;
    
    @include big-desktop{
        font-size: 80px;
    }

    @include for-desktop{
        font-size: 7rem;
    }
    @include  tablet{
        font-size: 6rem;
        text-align: center;
        line-height: 1;
    }

    @include small-tablet{
         font-size: 4rem;
         margin-bottom: 1rem;
    }
    @include mobile{
        max-width: 29.3rem;
        margin: 0  auto;
    }
    @include slider-mobile{
        font-size: 3rem;
    }
}

.about__inner__wrapper {
    display: flex;
    justify-content: space-between;
    //gap: 2.3rem;

    @include  tablet{
        flex-wrap: wrap;
    }
}

.about__inner__wrapper__item {
    display: flex;
    flex-direction: column;
    max-width: 49.5%;
    align-items: flex-start;

    @include  tablet{
        margin: 0 auto;
        max-width: 95%;
    }
}

.about__inner__wrapper__item__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    margin-bottom: 1.8rem;
    color: #1B1B1B;

    @include big-desktop{
        font-size: 45px;
    }
    @include  tablet{
        font-size: 3rem;
        text-align: center;
        margin: 0 auto;
    }
    @include mobile{
        font-size: 3rem;
        text-align: left;
        margin: 0;
    }
    @include slider-mobile{
        font-size: 2.4rem;
    }
}

.about__inner__wrapper__item__line {
    width: 177px;
    height: 1px;
    background-color: transparent;
    border: none;
    display: block;
    margin-bottom: 3.2rem;
    margin-left: 0.5rem;
    position: relative;

    &::after,  &::before{
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: -1;
        content: '';
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        background: linear-gradient(45deg,#76CD71,#FFFFFF,#CBECCA);
        animation: animate 20s linear infinite;
    }
    &::after{
        filter: blur(20px);
    }
    @include small-tablet{
        margin:  1rem auto 3rem;
    }
    @include mobile{
        display: none;
    }
}
.large{
    width: 45rem;
}

.about__inner__wrapper__item__text {
    flex-grow: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.04em;
    margin-bottom: 4.3rem;
    color: rgba(27, 27, 27, 0.75);

    @include big-desktop{
        max-width: 63.5rem;
        font-size: 2.2rem;
    }

    @include for-desktop{
        font-size: 2rem;
    }

    @include  tablet{
        text-align: center;
    }

    @include small-tablet{
        font-size: 1.8rem;
        line-height: 1.4;
        margin-bottom: 2rem;
    }
    @include mobile{
        text-align: left;
    }
}

.about__inner__wrapper__item__image {
    position: relative;
    width: 100%;
    max-width: 731px;
    height: auto;
    //min-height: 48.9rem;
    border-radius: 20px;
    background-color: grey;
    object-fit: cover;
    //border: 1px solid $accent-color;

    &::after,  &::before{
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: -1;
        content: '';
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        background: linear-gradient(45deg,#76CD71,#FFFFFF,#CBECCA,#76CD71,#FFFFFF,#CBECCA,#76CD71,#FFFFFF,#CBECCA, #76CD71);
        animation: animate 20s linear infinite;
    }
    &::after{
        filter: blur(20px);
    }

    @include big-desktop{
        max-width: 63.5rem;
        margin: 0 auto;;
    }

    @include for-desktop{
        font-size: 2rem;
        max-width: 50rem;
        //height: calc($index * 29);
        //min-height: auto;
    }

    @include  tablet{
       // height: auto;
    }
}   

@keyframes animate{
    0%{ 
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}