.adventages {}

.adventages__inner {
    position: relative;
}

.adventages__inner__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 104px;

    color: $accent-color;
    margin: 3.3rem 0 6.3rem;

    
    @include fhd-desktop{
       text-align: center;
    }

    
    @include big-tablet{
        font-size: 7rem;
    }

    @include big-tablet{
        font-size: 5.5rem;
    }
    @include mobile{
        line-height: 1.3;
        margin-bottom: 3rem;
    }
}

.adventages__inner__row {
    display: flex;
    justify-content: space-between;

    @include fhd-desktop{
        flex-wrap: wrap;
    }
}

.adventages__inner__row__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 33.1%;

  @include fhd-desktop{
        max-width: 40%;
        margin: 0 auto;
    }  

    @include big-tablet{
        max-width: 80%;
    }
    
}

.adventages__video__container {
    position: relative;
    min-height: 27.4rem;
}

.adventages__inner__row__item__video {
    margin-bottom: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;

    @include fhd-desktop{
        left: 50%;
        transform: translateX(-50%);
    }
}

.adventages__inner__row__item__video__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
    pointer-events: none;
}



.adventages__inner__row__item__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    color: #3C3636;
    margin-bottom: 2rem;

    
    @include fhd-desktop{
        padding: 0 4.5rem;
        text-align: center;
    }
}

.adventages__inner__row__item__text {
    flex-grow: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.04em;

    color: #1C1C1C;
    margin-bottom: 6.5rem;

    @include fhd-desktop{
        padding: 0 4.5rem;
    }
    
    @include big-desktop{
        padding: 0 3rem;
        text-align: center;
    }
    
    @include for-desktop{
        padding: 0 1rem;
    }

    @include mobile{
        padding: 0;
    }
}

.adventages__inner__img {
    position: absolute;
    bottom: -25%;
    left: 89%;
    z-index: 1;
    width: 65rem;
    height: 55rem;

    
    @include fhd-desktop{
        bottom: 0;
        left: 70%;
    }

    @include big-tablet{
        bottom: 35%;
    }

    @include small-tablet{
        display: none;
    }
}