.adventages {
    //margin-top: 6rem;
    padding-bottom: 9.1rem;
}

.swiper__adventages {}

.swiper-wrapper {}

.swiper-slide {}

.adventages__inner {}

.adventages__inner__title {
    margin-top: 10rem;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 3rem;
}

.adventages__inner__wrapper {
    display: flex;
    gap: 1.8rem;

}

.adventages__inner__item {}

.adventages__inner__item__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 2rem;
    color: #000000;
}

.adventages__inner__item__subtitle {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 4.5rem;

}

.adventages__inner__item__image {
    display: block;
    @include bg-cover;
    border-radius: 20px;
    width: auto;
    height: 38.2rem;
}

.swiper-button-prev {}

.swiper-button-next {}

.swiper__adventages > .swiper-button-prev{
    top: var(--swiper-navigation-top-offset, 77%);
    &::after{
        color: #000000;
    }
}
.swiper__adventages > .swiper-button-next{
    top: var(--swiper-navigation-top-offset, 77%);
    &::after{
        color: #000000;
    }
}