.basket {}

.basket__wrapper {
    padding-top: 1.3rem;
}

.productinfo__inner__back {
    transition: all 0.3s linear;

    &:hover {
        color: $accent-color;
    }
}

.basket__inner {}

.basket__inner__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 104px;
    color: #000000;
    margin-bottom: 6.177rem;

    @include for-desktop {
        font-size: 6.6rem;
    }

    @include small-tablet {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.basket__inner__container {
    display: flex;
}

.basket__inner__container__left {
    display: flex;
    flex-direction: column;
    width: 66.6%;

    @include small-tablet {
        width: 100%;
    }
}

.basket__inner__container__left__items {
    display: flex;
    flex-direction: column;
}

.basket__inner__container__left__item__wrapper {}

.basket__inner__container__left__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 4rem;

    @include small-tablet {
        display: none;
    }
}

.basket__inner__container__left__item__wrapper {
    margin-bottom: 2rem;
}

.basket__inner__container__left__item__mobile {
    display: none;
    background-color: #E9E9E9;
    margin: 0 auto;

    @include small-tablet {
        display: block;
    }
}

.basket__inner__container__left__item__mobiletop {
    display: flex;
}

.basket__inner__container__left__item__mobiletop__img {
    width: 11.5rem;
    height: 11.5rem;
    margin: 1.1rem 0.4rem 2rem 3rem;
}

.basket__inner__container__left__item__mobiletop__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.basket__inner__container__left__item__mobilebottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin: 0 3.5rem 0 3rem;
    padding: 2rem 0;
}

.basket__inner__container__left__item__mobilebottom__check {
    width: 23px;
    height: 23px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.basket__inner__container__left__item__firstblock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basket__inner__container__left__item__delete {
    width: 23.77px;
    height: 23.77px;
    @include bg-cover;
    cursor: pointer;
    margin-right: 3.123rem;

    @include for-desktop {
        margin-right: 1rem;
    }

    &>svg {
        stroke: black;
        width: 2.9rem;
        height: 2.9rem;

        @include for-desktop {
            width: 2rem;
            height: 2rem;
        }
    }
}

.basket__inner__container__left__item__preview {
    width: 162px;
    height: 168px;

    background: #EFEFEF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    &>img {
        width: 110px;
        height: 133px;

        @include for-desktop {
            width: 100%;
            max-width: 9rem;
            height: auto;
        }
    }


    @include for-desktop {
        width: 100%;
        max-width: 15rem;
        height: auto;
    }
}

.basket__inner__container__left__item__description {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.basket__inner__container__left__item__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 0.57rem;

    @include for-desktop {
        font-size: 1.5rem;
    }
}

.basket__inner__container__left__item__dimensions {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);

    @include for-desktop {
        font-size: 1.5rem;
    }
}

.basket__inner__container__left__item__counter {
    display: flex;
    align-items: center;
}
.basket__inner__container__left__item__counter{
    margin-left: 1.5rem;
}

.basket__inner__container__left__item__counter__minus,
.basket__inner__container__left__item__counter__plus {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #4D4D4D;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        color: $accent-color;
    }

    @include for-desktop {
        font-size: 2.5rem;
    }
}

.basket__inner__container__left__item__counter__digit {
    width: 90px;
    height: 90px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;

    letter-spacing: -0.04em;
    @include flex-all-center;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 2rem;

    @include for-desktop {
        height: 5rem;
        width: 5rem;
        font-size: 2.5rem;
        margin: 0 0.7rem;
    }
}

.basket__inner__container__left__item__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    margin-right: 0.8rem;
    color: #000000;

    @include for-desktop {
        font-size: 1.8rem;
        line-height: 1.3;
        text-align: center;
    }
}

.basket__inner__container__left__line__horisontal,
.basket__inner__container__left__line__horisontal__mobile {
    border: 2px solid rgba(0, 0, 0, 0.2);
    height: 1px;
    width: 99%;

    @include small-tablet {
        display: none;
    }
}

.basket__inner__container__left__line__horisontal__mobile {
    display: none;

    @include small-tablet {
        display: block;
    }
}

.basket__inner__container__right {
    display: flex;
    margin: 0;
    width: auto;
    max-width: 100%;
    flex-grow: 1;

    @include small-tablet {
        display: none;
    }
}

.basket__inner__container__right__line__vertical {
    border-right: 2px solid #000000;
    width: 1px;
    height: 90%;
    margin-bottom: auto;
}


.basket__inner__container__right__column {
    padding-left: 1.1rem;
    width: 100%;
}

.basket__inner__container__right__title {
    width: 100%;
}

.basket__inner__container__right__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 1.2rem;
    color: #000000;

    @include for-desktop {
        font-size: 3rem;
    }
}

.basket__inner__container__right__line {
    width: 100%;
    height: 0px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.basket__inner__container__right__line__bottom {
    border-bottom: 1px solid #000000;
    width: 100%;
}





.basket__inner__container__right__items {}

.basket__inner__container__right__items__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem 0;
}

.basket__inner__container__right__items__item__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);

    @include for-desktop {
        font-size: 1.6rem;
    }
}

.basket__inner__container__right__items__item__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #000000;

    @include for-desktop {
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.3;
    }
}

.basket__inner__container__right__result {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    padding: 4.4rem 0 9.5rem;
}

.basket__inner__container__right__result__all {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #000000;

    @include for-desktop {
        font-size: 2rem;
    }
}

.basket__inner__container__right__result__allprice {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;

    @include for-desktop {
        font-size: 2rem;
    }
}

.basket__inner__container__right__result__allprice__mobile {
    display: block;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

.basket__inner__container__right__result__checkout,
.basket__inner__container__right__result__checkout__mobile {
    display: block;
    width: 100%;
    background: #76CD71;
    border-radius: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 2.1rem 0;
    cursor: pointer;
    margin-bottom: 10rem;
    transition: all 0.3s linear;
    border: 1px solid $accent-color;

    &:hover {
        background-color: white;
        color: $accent-color;
    }

    @include for-desktop {
        padding: 1.5rem 0;
        font-size: 1.6rem;
        max-width: 23rem;
        margin: 0 auto 10rem;
    }
}

.basket__inner__container__right__result__checkout__mobile {
    display: none;

    @include small-tablet {
        display: block;
        max-width: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
}