.favourites {
    padding-top: 8rem;
}
.favourites__inner{
    padding-bottom: 20rem;

    @include for-desktop{
        padding-bottom: 5rem;

    }
}
.favourites__inner__wrapper__item__background {
    border: none;
}

.favorites__inner__wrapper__item {
    position: relative;
}

.favourites__inner__item__icon {
    width: 5.1rem;
    height: 4.2rem;
    position: absolute;
    top: 2.6rem;
    right: 2.6rem;
    z-index: 1;
    fill: $accent-color;
    stroke: none;
    transition: all 0.3s linear;
}

.favourites__inner__item__button {
    display: block;
    width: 100%;
    margin-top: 3.5rem;
    border: 2px solid #76CD71;
    border-radius: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding: 2.1rem 0;
    cursor: pointer;
    color: #76CD71;
    background-color: transparent;
    transition: 0.3s linear;

    &:hover{
        color: white;
        background-color: $accent-color;
    }

    @include small-tablet{
        //width: 60%;
        margin: 3.5rem auto;
    }
    @include mobile{
       // width: 80%;
        margin: 3.5rem auto;
    }
}
.heart{
    fill: none;
    stroke: black;
}