footer {
    width: 100%;
    flex: 0 0 auto;
    border-top: 1px solid #000;
}

.footer__inner {
    padding-top: 2rem;

    @include mobile{
        padding-left: 3rem;
    }
}

.footer__inner__top {
    display: flex;
    justify-content: space-between;

    @include mobile{
        margin: 0 auto;
    }
}


.footer__inner__top__columns{

    &:nth-child(3){
        min-width: 31rem;

        @include small-tablet{
            min-width: 21.5rem;
        }
        @include mobile{
            min-width: auto;
            max-width: 11rem;
        }
    }
}

.footer__inner__column__logo {
    width: 5.5rem;
    height: 8.4rem;
    margin-left: 3rem;

    // @include mobile{
    //     display: none;
    // }
}
.footer__inner__top__columns{

    @include mobile{
        &:nth-child(1){
            display: none;
        }
    } 
}

.footer__inner__column__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    white-space: nowrap;
    transition: all 0.3s linear;

    &:hover {
        color: $accent-color;
    }
}

.footer__inner__column__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 3rem;
}
.nav__footer{
    display: flex;

    @include small-tablet{
        flex-direction: column;
    }
}
.nav__footer>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc($index * 10);
    max-width: 22.3rem;
}

.nav__footer__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1.7rem;
    transition: all 0.3s linear;
    color: rgba(0, 0, 0, 0.5);

    &:hover {
        color: $accent-color;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.footer__inner__column__links {}

.footer__inner__column__links__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1.7rem;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;

    &:last-child {
        padding-bottom: 0;
    }
    @include mobile{
        hyphens: manual;   
        white-space: normal;
    }
}
.footer__inner__column__items{
    display: flex;
    justify-content: space-between;
    width: calc($index * 17);
    max-width: 44.9rem;

    &>div{
        display: flex;
        flex-direction: column;
    }

    @include small-tablet{
        flex-direction: column;
    }
}

.footer__inner__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;

    @include mobile{
        flex-direction: column;
    }
}
.footer__inner__bottm__social{
    display: flex;
    justify-content: space-between;
    max-width: 20rem;

    @include mobile{
        order: 2;
        margin-top: 2.4rem;
    }
}
.footer__inner__bottm__social__item{
    width: 3.1rem;
    height: 3.1rem;
    transition: all 0.3s linear;
    
    &:not(:last-child){
        margin-right: calc($index * 1.9);
    }

    &:hover{
        transform: scale(1.1);
    }
}
.footer__inner__column__logo__mobile{
    display: none;
    width: 5.5rem;
    height: 8.4rem;
    margin: 0 auto 2.4rem;

    @include mobile{
        display: block;
    }
}