.header {
    //width: 90%;
}

.header__inner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000000;
}

.header__inner__logo,
.header__inner__logo__link {
    width: 100%;
    max-width: 17.3rem;
    height: 7rem;
    @include bg-cover;
    cursor: pointer;

    @include for-desktop {
        display: none;
    }
}

.header__inner__logo__link {
    @include small-tablet {
        display: block;
        height: 3.9rem;
        margin-left: 3rem;
    }
}

.header__inner__logomobile {
    display: none;
    width: 9.7rem;
    height: 3.9rem;

    @include small-tablet {
        display: block;
    }

}

.header__inner__burger {
    display: none;
    width: 18px;
    height: 10px;
    margin: 0 3.4rem 0 auto;
    transition: all 0.3s linear;
    @include bg-cover;

    @include small-tablet {
        display: block;
    }

    &:hover {
        transform: scale(1.15);
    }
}

.header__inner__nav {
    margin: 3.8rem 0;
    display: flex;
    justify-content: space-between;
    max-height: 2.5rem;
    max-width: 50%;
}

.header__inner__nav>a {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
    transition: all 0.3s linear;
    white-space: nowrap;

    &:not(:last-child) {
        margin-right: 8.6rem;

        @include big-desktop {
            margin-right: 3rem;
        }

        @include tablet {
            margin-right: 1.5rem;
        }
    }

    &:hover {
        color: $accent-color;
    }

    @include tablet {
        font-size: 1.6rem;
    }

    @include small-tablet {
        display: none;
    }
}

.header__inner__widgets {
    width: 100%;
    max-width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include small-tablet {
        display: none;
    }
}

.header__inner__widgets__item {
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 19.2rem;
    transition: all 0.3s linear;
}

.active__input>.header__inner__widgets__item {
    border-color: $dark-color;
}

.header__inner__widgets__search {
    opacity: 0;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    //color: rgba(255, 255, 255, 0.46);
    border: none;
    background-color: transparent;
    padding: 1rem 0 1rem 1rem;
    max-width: 12rem;
    margin-right: 4.5rem;
    transition: all 0.3s linear;
    outline: 0;
    color: $light-color;

    &::placeholder {
        color: $dark-color;
    }
}

.active__input .header__inner__widgets__search {
    opacity: 1;
    color: black;
}


.header__inner__widgets__searchicon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.9rem;
    fill: none;
    cursor: pointer;
    stroke: black;
    transition: all 0.3s linear;

    &:hover {
        stroke: $accent-color;

    }
}

.header__inner__widgets__favorites {
    fill: none;
    height: 100%;
    max-height: 2.2rem;
    cursor: pointer;
    stroke: black;
    transition: all 0.3s linear;

    &:hover {
        stroke: $accent-color;
    }
}

.header__inner__widgets__basket {
    fill: none;
    height: 100%;
    max-height: 1.813rem;
    cursor: pointer;
    stroke: black;
    transition: all 0.3s linear;

    &:hover {
        stroke: $accent-color;
    }
}

.header__inner__widgets__icon {
    max-width: 2.6rem;
    @include flex-all-center;
}

.menu__burger {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transform: translateX(-200%);
    transition: all 0.3s linear;
}
.menu__burger__wrapper{
    width: 100%;
    height: 100%;
    flex-direction: column;
    @include flex-all-center;
    position: relative;
}
.burger-active {
    display: block;
}
.burger__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    &>svg{
        width: 3rem;
        height: 3rem;
        stroke: #000000;
    }
}

.header__inner__nav__burger {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    margin: 0 auto 6.9rem;
}

.header__inner__nav__burger__item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    margin-bottom: 2.2rem;
    color: #070707;
    text-align: center;
}
.header__inner__nav__burger__widgets{
    display: flex;
    margin: 0 auto;
    max-height: 3rem;

    &>a{
        &:not(:last-child){
            margin-right: 3.5rem;
        }
    }
}
.header__inner__widgets__burger{
      width: 2rem;
        height: 2rem;
        fill: #fff;
        stroke: #000000;
}

.header__inner__burger__widgets__searchblok{
    margin-top: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: transparent;
    padding: 1rem 2rem;
    transition: all 0.3s linear;
    opacity: 0;
    width: 0;
    font-size: 1.5rem;
    
    &:focus{
        border-color: $accent-color;
        outline: none;
    }

    &::placeholder{
        font-size: 1.5rem;
    }
}
.search-active.header__inner__burger__widgets__searchblok{
    opacity: 1;
    width: 25%;
}