.header {
    width: 100vw;
    border-bottom: 0.2rem solid $light-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner__logo {
    width: 100%;
    max-width: 5.5rem;
    height: 8.4rem;
    @include bg-cover;
}

.header__inner__nav {
    margin: 3.8rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 43.6rem;
}

.header__inner__nav__item {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $dark-color;
}

.header__inner__widgets {
    width: 100%;
    max-width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner__widgets__item {
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 19.2rem;
    transition: all 0.3s linear;
}

.active__input > .header__inner__widgets__item {
    border-color: $dark-color;
}

.header__inner__widgets__search {
    opacity: 0;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    //color: rgba(255, 255, 255, 0.46);
    border: none;
    background-color: transparent;
    padding: 1rem 0 1rem 1rem;
    max-width: 11rem;
    margin-right: 4.5rem;
    transition: all 0.3s linear;
    outline: 0 ;
    color: $light-color;

    &::placeholder {
        color: $dark-color;
    }
}

.active__input  .header__inner__widgets__search {
    opacity: 1;
}


.header__inner__widgets__searchicon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.9rem;
    fill: none;
    cursor: pointer;
}

.header__inner__widgets__favorites {
    fill: none;
    height: 100%;
    max-height: 2.2rem;
    cursor: pointer;
}

.header__inner__widgets__basket {
    fill: none;
    height: 100%;
    max-height: 1.813rem;
    cursor: pointer;
}