.hero {
    max-height: 61.8rem;
    overflow: hidden;
}

.hero__inner {
    display: flex;
}

.hero__inner__left {
    width: 66.6%;
}

.hero__inner__left__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    margin-top: 13.9rem;
    color: #000000;

}

.hero__inner__left__text {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.04em;
    margin-top: 4.9rem;
    color: rgba(0, 0, 0, 0.9);
}

.hero__inner__left__buttons {
    margin-top: 11rem;
    margin-bottom: 4.9rem;
}

.hero__inner__left__buttons__button {
    border: 2px solid #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: -0.045em;

    color: #000000;
    padding: 1.8rem 8.3rem;
    border-radius: 42px;
    cursor: pointer;
    margin-bottom: 4.9rem;
    transition: all 0.3s linear;

    &:hover{
        background-color: black;
        color: $accent-color;
        border-color: $accent-color;
    }

}
.hero__inner__left__buttons__button + .hero__inner__left__buttons__button {
    margin-left: 2.1rem;

    &:hover{
        background-color: $accent-color;
        color: white;
        border-color: transparent;
    }
}


.hero__inner__left__buttons__button__accent {
    background: $accent-color;
    padding: 1.8rem 4.3rem;
    border: none;
}

.hero__inner__right {
    width: 33.3%;
}

.hero__inner__right__img {
    width: 851.97px;
    height: 900px;
    position: relative;
    z-index: -1;
    margin: -8rem -1rem -1rem -14rem;
   // @include bg-cover;
}