.hero {
    max-height: 61.8rem;
    overflow: hidden;

    @include small-tablet {
        max-height: none;
    }
}

.hero__inner {
    display: flex;
}

.hero__inner__left {
    width: 66.6%;

    @include tablet {
        width: 75%;
    }

    @include small-tablet {
        width: 100%;
    }
}

.hero__inner__left__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    margin-top: 13.9rem;
    color: #000000;

    @include fhd-desktop {
        font-size: 4.5rem;
    }

    @include big-desktop {
        font-size: 3.9rem;
        margin-top: 10rem;
    }

    @include for-desktop {
        margin-top: 7rem;
        font-size: 3.3rem;
    }

    @include tablet {
        font-size: 2.8rem;
        line-height: 1.7;
    }

    @include small-tablet {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        max-width: 29rem;
        padding-left: 3rem;
    }
}

.hero__inner__img__mobile {
    display: none;
    margin: 0 auto;

    @include small-tablet {
        display: block;
        width: 35rem;
        height: auto;
    }
}

.hero__inner__left__text {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.04em;
    margin-top: 4.9rem;
    color: rgba(0, 0, 0, 0.9);

    @include fhd-desktop {
        font-size: 2.2rem;
        margin-right: 1rem;
    }

    @include big-desktop {
        max-width: 71rem;
    }

    @include for-desktop {
        font-size: 1.8rem;
        max-width: auto;
    }

    @include tablet {
        font-size: 1.6rem;
    }

    @include small-tablet {
        margin-top: -2rem;
        max-width: none;
        text-align: left;
        font-size: 16px;
        line-height: 22px;
        padding-left: 3rem;

    }

}

.hero__inner__left__buttons {
    margin-top: 11rem;
    margin-bottom: 4.9rem;

    @include tablet {
        margin-top: 4rem;
    }

    @include small-tablet {
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 0;
    }
}



.hero__inner__left__buttons__button {
    border: 2px solid black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    letter-spacing: -0.045em;

    color: #000000;
    padding: 1.8rem 8.3rem;
    border-radius: 42px;
    cursor: pointer;
    margin-bottom: 4.9rem;
    transition: all 0.3s linear;

    &:hover {
        background-color: white;
        color: $accent-color;
        border-color: $accent-color;
    }

    @include for-desktop {
        font-size: 1.5rem;
        padding: 1.5rem 5.5rem;
    }

    @include mini-mobile {
        margin-bottom: 1.5rem;
    }

}

.hero__inner__left__buttons__button__accent {
    background: $accent-color;
    padding: 1.8rem 4.3rem;
    border: 1px solid $accent-color;

    &:hover {
        border: 1px solid $accent-color;
    }
}

.hero__inner__left__buttons__button+.hero__inner__left__buttons__button {
    margin-left: 2.1rem;

    &:hover {
        background-color: $accent-color;
        color: white;
        border-color: transparent;
    }

    @include mini-mobile {
        margin: 1rem auto 0;
        min-width: 20.856rem;
    }
}




.hero__inner__right {
    width: 33.3%;

    @include tablet {
        width: 25%;
    }

    @include small-tablet {
        display: none;
    }
}

.hero__inner__right__img {
    width: 851.97px;
    height: 900px;
    position: relative;
    z-index: -1;
    margin: -8rem -1rem -1rem -14rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


    @include for-desktop {
        height: 70rem;
        margin-top: -2rem;
    }

    @include tablet {
        height: 54rem;
    }
}