.productinfo {
  padding-top: 0;
  padding-bottom: 9.6rem;

  @include mobile{
    padding-bottom: 3rem;
  }
}

.productinfo__wrapper {
  padding-top: 2rem;

  @include tablet {
    margin: 0 auto;
  }
}

.productinfo__inner__back {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;

  &>img {
    padding-right: 1.1rem;
  }
}

.productinfo__inner {
  display: flex;
  gap: 4.5rem;
  padding-top: 2rem;

  @include for-desktop {
    gap: 2rem;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.productinfo__inner__left,
.productinfo__inner__right {
  width: 50%;
}

.productinfo__inner__left {
  @include big-desktop {
    width: 45%;
  }

  @include tablet {
    width: 100%;
  }
}

.productinfo__inner__right {
  @include big-desktop {
    width: 55%;
  }

  @include tablet {
    width: 100%;
  }
}

.splide-main {
  @include tablet {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
  }
}

.splide__slide__main {
  width: 694px;
  height: 565px;
  background: #EFEFEF;
  border: 1px solid #000000;
  @include flex-all-center;
  border-radius: 2rem;

  @include big-desktop {
    width: 60rem;
    height: 50rem;
  }

  @include for-desktop {
    width: 50rem;
    height: 40rem;
  }

  @include mobile{
    height: auto;
  }

  &>img {
    object-fit: cover;
    width: 615px;
    height: 410px;

    @include big-desktop {
      width: 100%;
      max-width: 55rem;
      height: auto;
    }

    @include for-desktop {
      max-width: 45rem;
    }

    @include mobile{
      height: auto;
    }
  }
}

.splide__slide__main__wrapper{
  position: relative;
}
.thumbnails {
  display: flex;
  margin: 1.5rem auto 0;
  padding: 0 0 5.1rem;
  justify-content: space-between;
  max-width: 596px;

  @include big-desktop {
    width: calc(100% - 8rem);
    max-width: 50rem;
  }

}

.thumbnail {
  width: 12.2rem;
  height: 12.2rem;
  overflow: hidden;
  list-style: none;
  cursor: pointer;
  background: #D9D9D9;
  border: 1px solid #000000;
  @include flex-all-center;

  &:not(:last-child) {
    margin-right: 3.6rem;

    @include big-desktop {
      margin-right: 2rem;
      height: auto;
      width: 100%;
      max-width: 10rem;
    }

    @include for-desktop {
      margin-right: 1rem;
    }
  }
}

.thumbnail__main {
  border-radius: 2rem;

  @include big-desktop {
    width: 100%;
    max-width: 10rem;
    height: 100%;
    max-height: 8rem;
    overflow: hidden;

  }
  @include mobile {
    max-height: 7rem;
  }

  @include mini-mobile{
    max-height: 5rem;
  }

  &>img{
    width: 100%;
    height: auto;
    object-fit: contain;


    // @include mobile{
    //   max-width: 5rem;
    // }
    // @include mini-mobile{
    //   max-width: 4rem;
    // }
  }
}

.splide__arrow {
  top: 114%;
  background: none;

  &>svg {
    fill: #76CD71;
    width: 3.5rem;
    height: 3.5rem;
  }

  @include big-desktop{
    top: 111%;
  }

  @include for-desktop {
    top: 113%;
  }

  @include mobile{
    top: 115%;
  }
  @include slider-mobile{
    top: 117%;
  }
}

.productinfo__inner__left__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.7rem;

  @include tablet{
    text-align: center;
  }
}

.productinfo__inner__left__data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 58.7rem;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  // line-height: 30px;
  padding-bottom: 1.3rem;
  /* or 167% */

  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.7);

  @include tablet{
    margin: 0 auto;
  }
}

.productinfo__inner__right__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 3.6rem;

  color: #000000;

  @include tablet{
    display: none;
  }
}

.productinfo__inner__right__data {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 3.6rem;
  letter-spacing: -0.04em;

  color: rgba(0, 0, 0, 0.7);

  @include tablet {
    text-align: center;
  }
}

.productinfo__inner__right__data__container {
  display: flex;
  @include tablet{
    justify-content: center;
  }
}

.productinfo__inner__right__size {
  display: block;
  width: 317px;
  height: 42px;

  border: 1px solid #D9D9D9;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1E1C1C;
  padding-left: 1rem;
  margin-bottom: 2.5rem;

  &>option {
    font-size: 1.8rem;
  }

  @include big-desktop {
    width: 100%;
    max-width: 30rem;
  }

  @include tablet{
    max-width: 15rem;
  }
}

.productinfo__inner__right__availibility {
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  width: 241px;
  height: 42px;
  margin-left: 2.5rem;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E1C1C;
  padding-left: 1rem;

  @include big-desktop {
    width: 100%;
    max-width: 23rem;
  }
  @include tablet{
    max-width: 15rem;
    flex-wrap: wrap;
justify-content: center;
  }
}

.productinfo__inner__right__noneavailibility {
  width: 12rem;
  color: red;
  display: none;
}

.productinfo__inner__right__availibility__count {
  padding-right: 1rem;

  @include tablet{
    display: block;
    padding:0 5rem;
    font-weight: 700;
  }
}

.productinfo__inner__right__parametrs {
  display: flex;
  justify-content: space-between;
  max-width: 31.7rem;
  gap: 1.3rem;

  @include tablet {
    margin: 0 auto;
  }
}

.productinfo__inner__right__parametrs__height,
.productinfo__inner__right__parametrs__width {
  height: 6rem;
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #D9D9D9;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #525252;
  padding-top: 0.4rem;

  &>b {
    padding-left: 1rem;

  }
}

.productinfo__inner__right__parametrs__input {
  width: 132px;
  height: 3rem;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.productinfo__inner__right__dataprice {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  max-width: 47.4rem;

  @include big-desktop {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  @include for-desktop {
    margin-bottom: 2rem;
  }

  @include tablet{
    margin: 3rem auto;
    max-width: 39rem; 
  }
  @include mobile{
    max-width: 30rem;
  }
}

.productinfo__inner__right__dataprice__minus {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 1rem;
  letter-spacing: -0.04em;
  cursor: pointer;
  color: #4D4D4D;
  padding-top: 1.2rem;

  @include big-desktop {
    font-size: 5rem;
  }
  @include mobile{
    font-size: 2.8rem;
  }
}

.productinfo__inner__right__dataprice__count {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;

  @include flex-all-center;
  letter-spacing: -0.04em;
  margin: 0 0.7rem;

  color: rgba(0, 0, 0, 0.7);
  width: 90px;
  height: 90px;
  border: 1px solid #D9D9D9;

  @include big-desktop {
    width: 7rem;
    height: 7rem;
    font-size: 3remw;
  }

  @include mobile{
    font-size: 2.8rem;
    width: 5rem;
    height: 5rem;
  }
}

.productinfo__inner__right__dataprice__plus {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 30px;
  padding-left: 0.5rem;
  padding-right: 4.5rem;
  letter-spacing: -0.04em;
  white-space: nowrap;
  color: #4D4D4D;
  cursor: pointer;

  @include big-desktop {
    font-size: 5rem;
  }
  @include mobile{
    font-size: 2.8rem;
  }
}

.productinfo__inner__right__dataprice__price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  text-align: right;

  @include big-desktop {
    font-size: 4rem;
  }
  @include mobile{
    font-size: 2.8rem;
  }
}

.productinfo__inner__right__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 43.6rem;
  margin-bottom: 1.6rem;

  @include for-desktop {
    max-height: 10rem;
  }

  @include tablet{
    max-width: none;
    margin: 0 auto 4rem;
    display: flex;
    justify-content: center;
  }
}

.productinfo__inner__right__battons__addbasket {
  background: #76CD71;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 2rem 6.5rem;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  transition: all 0.3s linear;
  border-radius: 50px;


  &:hover {
    transform: scale(1.02);
  }

  @include big-desktop {
    padding: 1.5rem 4.5rem;
    font-size: 1.6rem;
  }


}

.productinfo__inner__right__buttons__favourites {
  //cursor: pointer;
  width: 51px;
  height: 42px;
  max-height: none;

  @include big-desktop {
    width: 4rem;
    //height: auto;
  }
  @include tablet{
   display: none;
  }
}
.--mobile{
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    right: 1rem;
    top: -4.5rem;
  }

  @include mobile{
    top: 0.5rem;
    right: 0rem;
    width: 4rem;
    height: 3rem;
  }
}

.red {
  fill: $accent-color;
}

.productinfo__inner__right__title__mobile {
  display: none;

  @include tablet {
    display: block;
  }
  @include mobile{
    font-size: 2.5rem;
  }
}