.similar {
    padding-bottom: 10rem;

    @include mobile{
        padding-bottom: 3rem;
      }
}

.similar__inner {
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
}

.similar__inner__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 2.5rem;
    font-family: inherit;
    color: inherit;
    font-style: normal;

    @include tablet{
        text-align: center;
    }
}
.similar__inner__title--center{
    @include big-desktop{
        text-align: center;
    }

    @include mobile{
        font-size: 3rem;
    }
}

.similar__inner__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin-bottom: 2.8rem;

    @include for-desktop{
        flex-wrap: wrap;
    }
}
.similar__inner__wrapper--none{

    @include for-desktop{
        display: none;
    }
}

.similar__inner__wrapper__item {
    width: 33.3%;
    height: 453px;
    margin-bottom: 10rem;

    @include for-desktop{
        margin: 0 auto;
        height: auto;
        width: 50%;
    }
    @include small-tablet{
        width: 90%;
    }

    @include mini-mobile{
        width: 100%;
    }
}

.similar__inner__wrapper__item--mobile{
    @include for-desktop{
        width: calc(100% - 18rem);
        //width: auto;
        max-width: 80rem;
        height: auto;
    }

    @include mobile{
        width: calc(100% - 6rem);
    }
}

.similar__inner__wrapper__item_background {
    width: 100%;
    height: 453px;

    background: #EFEFEF;
    border: 1px solid #000000;
    @include flex-all-center;
    border-radius: 20px;

    &--mobile{
        height: auto;
        min-height: 40rem;

        &>img{
            padding: 0 3rem;
        }

        @include mobile{
            min-height: 35rem;
        }
        @include slider-mobile{
            min-height: auto;
        }
    }
}

.similar__inner__wrapper__item__subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding-top: 2.8rem;
    font-family: inherit;
    color: inherit;
    font-style: normal; 
    @include mobile{
        font-size: 3rem;
    }
    @include mini-mobile{
        font-size: 2.5rem;
    }
}

.similar__inner__wrapper__item__price {
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;
    font-family: inherit;
    color: inherit;
    font-style: normal;

    @include mobile{
        font-size: 3rem;
    }
    @include mini-mobile{
        font-size: 2.5rem;
    }
}

.swiper__similar{
    display: none;
    //width: calc(100% - 30rem);

    @include for-desktop{
        display: block;
    }
}
.button-prev-similar, .button-next-similar{
    top: 37%;
}
.button-prev-similar{
    top: 37%;
    left: 5%;

    @include mobile{
        left:0;
    }
    @include slider-mobile{
        top: 30%;
    }
}
.button-next-similar{
    top: 37%;
    right: 5%;

    @include mobile{
        right: 0;
    }
    @include slider-mobile{
        top: 30%;
    }
}