.testing {
    padding: 3.1rem 0 7.5rem;
}

.testing__inner {}

.testing__inner__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 104px;
    color: #FFFFFF;
    margin-bottom: 5rem;

    @include for-desktop {
        font-size: 7.7rem;
    }

    @include tablet {
        font-size: 5.7rem;
    }

    @include small-tablet {
        font-size: 4.3rem;
    }

    @include mobile {
        font-size: 3.1rem;
    }

    @include mini-mobile {
        font-size: 2.9rem;
    }
}

.testing__inner__documents {
    display: flex;
    gap: 2rem;
    margin-bottom: 6rem;

    @include big-desktop {
        display: none;
    }
}

.testing__inner__documents__item {
    border-radius: 2rem;
    width: 360px;
    height: 573px;
    border: 1px solid $accent-color;

    @include big-desktop {
        width: auto;
    }
}


.testing__inner__tests {
    display: flex;
    gap: 2rem;

    @include fhd-desktop {
        flex-wrap: wrap;
    }
}

.testing__inner__tests__item {
    @include fhd-desktop {
        margin: 0 auto;
    }

}

.testing__inner__slider__mobile {
    display: none;

    @include big-desktop {
        display: block;
    }
}

.swiper__testing {
    padding-top: 6rem;
}

.adventages__video__container {}

.testing__inner__tests__item__container {}

.testing__inner__tests__item__container__video {    
    height:318px;
    width:486px;
    cursor: pointer;

    @include mobile{
        height: 31rem;
        width: 44.4rem;
    }
}

.testing__inner__tests__item__container__present {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48.6rem;
    height: 31.8rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;

    &>h6 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        color: #FFFFFF;
        margin-right: auto;
        margin-left: 2rem;
        padding-top: 2rem;
    }

    @include mobile{
        height: 31rem;
        width: 44.4rem;
    }
}

.testing__inner__tests__item__container__present__bg {
    margin-top: 4rem;

    @include mobile{
        height: 10rem;
        width: 10rem;
    }
}

.testing-button-next,
.testing-button-prev {
    top: 2rem;
    margin-right: 4rem;

    &::after {
        content: none;
    }
}

.testing-button-prev {
    left: auto;
    right: 8rem;
}