<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__inner__column">
                <div class="footer__inner__column__logo" style="background-image: url(./assets/images/footer/Logo.png);"></div> 
                <a href="" class="footer__inner__column__link">Политика конфиденциальности</a>
            </div>
            <div class="footer__inner__column">
                <h5 class="footer__inner__column__title">Навигация</h5>
                <nav class="nav__footer">
                    <a href="" class="nav__footer__item">Главная</a>
                    <a href="" class="nav__footer__item">Каталог</a>
                    <a href="" class="nav__footer__item">О нас</a>
                    <a href="" class="nav__footer__item">Лицензии</a>
                </nav>
            </div>
            <div class="footer__inner__column">
                <h5 class="footer__inner__column__title">Помощь</h5>
                <ul class="footer__inner__column__links">
                    <li class="footer__inner__column__links__item nav__footer__item"><a href="">Условия оплаты</a></li>
                    <li class="footer__inner__column__links__item nav__footer__item"><a href="">Условия доставки</a></li>
                    <li class="footer__inner__column__links__item nav__footer__item"><a href="">Гарантия на товар</a></li>
                </ul>
            </div>
            <div class="footer__inner__column">
                <h5 class="footer__inner__column__title">Контакты</h5>
                <ul class="footer__inner__column__items">
                    <li class="footer__inner__column__links__item">г. Москва</li>
                    <li class="footer__inner__column__links__item"><a href="tel:+71234567890">+71234567890</a></li>
                    <li class="footer__inner__column__links__item"><a href="mailto:alma.lawson@example.com">alma.lawson@example.com</a></li>
                    <li class="footer__inner__column__links__item"><a href="">О наличии товара <br> уточняйте у специалистов</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
